@use 'styles/variables';

$block: '.#{variables.$ns}header';

#{$block} {
    position: sticky;
    z-index: 1;
    top: 0;

    display: flex;
    justify-content: flex-end;

    padding: 10px;

    background-color: #fff;

    border-radius: 5px;

    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);

    &__btn {
        margin-right: auto;
    }
}
